<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <link href="../../css/reset.css" rel="stylesheet">
        <link href="../../css/perIndex.css" rel="stylesheet">
         <link href="../../iconfont/iconfont.css" rel="stylesheet">
    </head>
    <body>
        <div class="rightWrap" id="app">
            <!--我的订单有信息-->
            <div class="orderList fundrecord">
                <ul class="orderNav">
                    <li>队列模式>></li>
                    <li v-for="item in queueList" :class="{bg_color:tabIndex==item.id}" @click="showOrderList(item.id)" v-text="item.name">全部</li>
                </ul>
                <table class="refundTbl">
                    <tr align="center">
                        <th>订单号</th>
                        <th>订单创建时间</th>
                        <!--<th>队列位置</th>-->
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr align="center" v-for="userItem in userQueueList">
                        <td v-text="userItem.order_id">123456789</td>
                        <td v-text="userItem.create_time">2017-02-11 16:20</td>
                        <!--<td v-text="userItem.displayorder">￥9.9</td>-->
                        <td>
                            <span v-show="userItem.status==-1">违规踢出</span>
                            <span v-show="userItem.status==1">队列中</span>
                            <span style="cursor:pointer;display: inline-block;border:1px solid #f00;padding:5px;" v-show="userItem.status==2" @click="convertScore(userItem.id)">点击兑换</span>
                            <span v-show="userItem.status==3">兑换中</span>
                            <span v-show="userItem.status==4">兑换完成</span>
                        </td>
                        <td>
                            <span style="display: inline-block;padding:10px;border:1px solid #f00;cursor: pointer;" v-show="userItem.take_delivery==0||userItem.take_delivery==1" @click="backGoods(userItem.order_id)">回购</span>
                            <span v-show="userItem.take_delivery==2">提货完成</span>
                            <span v-show="userItem.take_delivery==3">回购中</span>
                        </td>
                    </tr>
                    
                </table>

                    
                   
                  

                </div>
            </div>
            <!--我的订单无信息-->
            <div class="orderListNone">
                <p class="kongkong" style="display: none"><img src="../img/kongkong.png"></p>
            </div>
        </div>
    </body>
    <script src="../../js/common.js"></script>
    <script src="../../js/config.js"></script>
    <script src="../../js/ajaxAddress.js"></script>

    <script src="../../js/lib/vue2.js"></script>
    <script src="../../js/lib/vue-resource.min.js"></script>
    <script src="../../js/userOrder.js" type="text/javascript"></script>
</html>
